.callbacks {
  padding: 10px;
}

.callbacks__heading {
  margin-top: 0;
}

.callbacks__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.callback__header {
  display: flex;
  border: 1px solid var(--border-color);
  margin-bottom: 8px;
}

.callback__head {
  padding: 8px;
  border-right: 1px solid var(--border-color);
}

.callback__head1 {
  width: 40%;
}

.callback__head2,
.callback__head3,
.callback__head4 {
  width: 20%;
}

.callback {
  display: flex;
  align-items: center;
}

.callback__text {
  display: flex;
  align-items: center;
  width: 100%;
}

.callback__index {
  font-weight: 700;
}

.callback__title {
  width: 60%;
}

.callback__category {
  margin-right: 48px;
}

.callback__active {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin-right: 48px;
  background-color: var(--main-red);
}

.callback__active--on {
  background-color: var(--main-green);
}

.callback__controls {
  display: flex;
}

.callback__controls button:first-child {
  margin-right: 12px;
}
