/* plus-jakarta-sans-regular - latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/plus-jakarta-sans-v2-latin-regular.woff2")
      format("woff2"),
    url("assets/fonts/plus-jakarta-sans-v2-latin-regular.woff") format("woff");
}

/* plus-jakarta-sans-500 - latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/plus-jakarta-sans-v2-latin-500.woff2") format("woff2"),
    url("assets/fonts/plus-jakarta-sans-v2-latin-500.woff") format("woff");
}

/* plus-jakarta-sans-700 - latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/plus-jakarta-sans-v2-latin-700.woff2") format("woff2"),
    url("assets/fonts/plus-jakarta-sans-v2-latin-700.woff") format("woff");
}

:root {
  --main-black: #151515;
  --main-blue: #4b82ec;
  --main-gray: #868e96;
  --main-yellow: #ff922b;
  --main-green: #67c24d;
  --main-red: #e23a2d;
  --main-white: #ffffff;
  --border-color: rgba(21, 21, 21, 0.1);
  --hover-color: #e9ecef;
  --border-radius: 4px;
}

body {
  bottom: 0;
  margin: 0;
  font-family: "Plus Jakarta Sans", "Arial", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.btn {
  padding: 8px 12px;
  border-radius: var(--border-radius);
  font-weight: 500;
  color: var(--main-black);
  font-size: 14px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btn-blue {
  background-color: var(--main-blue);
  color: var(--main-white);
}

.btn-blue:hover {
  box-shadow: 0 0 0px 5px rgba(75, 130, 236, 0.3);
}

.btn-yellow {
  background-color: var(--main-yellow);
  color: var(--main-white);
}

.btn-yellow:hover {
  box-shadow: 0 0 0px 5px rgba(220, 135, 66, 0.3);
}

.btn-green {
  background-color: var(--main-green);
  color: var(--main-white);
}

.btn-green:hover {
  box-shadow: 0 0 0px 5px rgba(103, 194, 77, 0.3);
}

.btn-red {
  background-color: var(--main-red);
  color: var(--main-white);
}

.btn-red:hover {
  box-shadow: 0 0 0px 5px rgba(226, 58, 45, 0.3);
}

.input {
  padding: 8px;
  margin: 8px 0;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}

.input:focus {
  box-shadow: 0 0 0px 5px rgba(75, 130, 236, 0.3);
}

.label {
  font-size: 14px;
}
